<%- include('../partials/main-header',{title:'edir-timeline'}); -%>


    <div class="page-header text-center" style="background-image: url('../resources/images/edir-hero.jpg')">
        <div class="container">
            <h1 class="page-title font-weight-bold" STYLE="color: orange">Members</h1>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-header -->

    <div class="page-content">
        <section class="about py-5" id="about">
            <div class="container">

                <div class="row">
                    <div class="col-10 mx-auto col-md-6 my-5">
                        <h1 class="text-capitalize">Edir <strong class="banner-title ">Members</strong></h1>
                        <p class="my-4 text-muted w-75">This is a page where you can get every member of the Edir.</p>
                        <a href="#exp" class="btn btn-outline-secondary btn-black text-uppercase ">explore</a>

                    </div>
                    <div class="col-10 mx-auto col-md-6 align-self-center my-5">
                        <div class="about-img__container">
                            <img src="../resources/images/edir-hero.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <!-- section title -->
            <div class="row">
                <div class="col-10 mx-auto col-sm-6 text-center">
                    <h1 class="text-capitalize" id="exp" STYLE="color: white">Edir <strong class="banner-title ">Members</strong></h1>
                </div>
            </div>
            <!-- end of section title -->
            <!--filter buttons -->
            <div class="row">
                <div class="col-10 mx-auto col-md-6">
                    <form method="get">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <span class="input-group-text search-box" id="search-icon"><i class="icon-search"></i></span>
                            </div>
                            <input type="text" name="search" class="form-control" placeholder='memebers....' id="search-item">
                        </div>
                    </form>
                </div>
            </div>
            <!-- search box -->
            <div class="row">

                <div class="container">
                    <div class="row justify-content-center" id="post">

                        <% if(res_data.length > 0){
                            res_data.forEach(function(rows){
                        %>
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="card shadow mb-4">
                                    <div class="card-body justify-content-center text-center">
                                        <img src="../../uploaded_img/<%= rows.profile%>" alt="avatar" class="rounded-circle  img-fluid" style="width: 150px;">
                                        <h5 class="my-3">
                                            <%= rows.fName+" "+rows.lName%>
                                        </h5>
                                        <p class="text-muted mb-1">Address:
                                            <%= rows.address %>
                                        </p>
                                        <p class="text-muted mb-4">Phone No:
                                            <?= rows.phoneNo %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <%
                            });
                        }
                        else{
                        %>
                                <tr>
                                    <td colspan="5">No Data Found</td>
                                </tr>
                                <% } %>

                    </div>
                </div>
            </div>
        </div>
        <%- include( '../partials/main-footer'); -%>