<%- include('../partials/main-header',{title:'edir-timeline'}); -%>

    <div class="page-header text-center" style="background-image: url('../../images/ethiopia.jpg')">
        <div class="container">
            <h1 class="page-title">Edir Timeline<span></span></h1>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <div class="page-content mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <% if(res_data.length > 0){
                        res_data.forEach(function(rows){
                    %>
                        <article class="entry entry-list">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <figure class="entry-media">
                                        <a href="<%= rows.title %>">
                                    <img src="../../image/timeline/<%= rows.filename%>" alt="image desc">
                                </a>
                                    </figure>
                                    <!-- End .entry-media -->
                                </div>
                                <!-- End .col-md-5 -->

                                <div class="col-md-7">
                                    <div class="entry-body">
                                        <div class="entry-meta">
                                            <span class="entry-author">
                                        by <a href="/contact">Edir Adminstrator</a>
                                    </span>
                                            <span class="meta-separator">|</span>
                                            <a href="#">
                                                <%= rows.date_updated%>
                                            </a>
                                        </div>
                                        <!-- End .entry-meta -->

                                        <h2 class="entry-title">
                                            <a href="/timeline/single_post/<%= slug = rows.slug%>">
                                                <%= rows.title%>
                                            </a>
                                        </h2>
                                        <!-- End .entry-title -->

                                        <div class="entry-cats">
                                            in
                                            <a href="#">
                                                <%=rows.category %>
                                            </a>
                                        </div>
                                        <!-- End .entry-cats -->

                                        <div class="entry-content mr-4">
                                            <p>
                                                <%= rows.content%>
                                            </p>
                                            <a href="/timeline/single_post/<%= slug = rows.slug%>" class="read-more">Continue Reading</a>
                                        </div>
                                        <!-- End .entry-content -->
                                    </div>
                                    <!-- End .entry-body -->
                                </div>
                                <!-- End .col-md-7 -->
                            </div>
                            <!-- End .row -->
                        </article>
                        <!-- End .entry -->
                        <%
                        });
                                }
                            else{
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <% } %>

                </div>
                <!-- End .col-lg-9 -->

                <aside class="col-lg-3">
                    <div class="sidebar">
                        <div class="widget widget-search">
                            <h3 class="widget-title">Search</h3>
                            <!-- End .widget-title -->

                            <form method="GET">
                                <label for="ws" class="sr-only">Search</label>
                                <input type="search" class="form-control" id="ws" name="search" placeholder="Search in Timeline" required>
                                <button type="submit" class="btn"><i class="icon-search"></i><span class="sr-only">Search</span></button>
                            </form>
                        </div>
                        <!-- End .widget -->

                        <div class="widget widget-cats">
                            <h3 class="widget-title">Categories</h3>
                            <!-- End .widget-title -->

                            <ul>
                                <li><a href="/timeline">All</a></li>
                                <li><a href="/?category=<%='wedding' %>">Weddding<span><?= $wnum?></span></a></li>
                                <li><a href="/?category=<%= 'graduation' %>">Graduation<span><?= $gnum?></span></a></li>
                                <li><a href="/?category=<%= 'funeral' %>">Funeral<span><?= $fnum?></span></a></li>
                            </ul>
                        </div>
                        <!-- End .widget -->

                        <!-- End .widget -->

                        <div class="widget widget-text">
                            <h3 class="widget-title">About Timeline</h3>
                            <!-- End .widget-title -->

                            <div class="widget-text-content">
                                <p>On the Edir Timeline, Events which have occured in the Edir society will get posted by the Edir Adminstrators. Memores, both joyful and sad, are shared among the members of the Edir.</p>
                            </div>
                            <!-- End .widget-text-content -->
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .sidebar -->
                </aside>
                <!-- End .col-lg-3 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-content -->
    <%- include('../partials/main-footer'); -%>